.container_12 {
	background:url("../img/woodgrain.png")
}
/*LOGO */

#logo {
	background: #3C6;
}
/*Co.NAME*/
#coname { 
	background: #F0F;
}
/*NAV*/
#nav{
	background: #0FF;
}

/*ASIDE*/
#aside {
	background: FC3;
}

/* MAIN */
#main {
	background: #C6C;
	

/* Logo*/
img {
	border :10 px solid black;
	padding: 10px;
	margin: 20px;
	borger-radius: 100px;
	box-shadow 
}


/* Main Navigation */
li {
  background: orange;
  display: inline;
  list-style: none;
  margin: 20px 10px;
  padding: 20px 10px;
}

a {
  color: red;
  font: 24px sans-serif bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;  
}

li:hover {
  background: blue;
  color: #fff; 
} 